body {
    width: 800px;
    margin: auto;
}
#p1001 {
    border-style: solid;
    text-align: center;
    color: black;
    background-color: cyan;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;

}
#p1002 {
    margin: 20px;
    font-style: italic;
}
#l1001 {
    width: 400;
    margin-left: 20%;
}
#l1002 {
    width: 400;
    margin-left: 20%;
}
#l1003 {
    width: 400;
    margin-left: 20%;
}
#s1001 {
    background-color: black;
    color: white;
    font-style: italic;    
}
#s1002 {
    background-color: black;
    color: white;
    font-style: italic;        
}
#s1003 {
    background-color: black;
    color: white;
    font-style: italic;        
}